body {
  padding: 10px;
  font-family: sans-serif;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

@keyframes jumping-button {
  0% {
    -webkit-transform: scale(1.1, .9);
    transform: scale(1.1, .9);
  }
  50% {
    -webkit-transform: scale(.9, 1.1) translateY(-.5rem)
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.jumping-button {
  display: inline-block;
  /*name-duration-function(ease,eas-in,linear)-delay-count-direction */
  animation: kreep 0.7s ease 2s infinite alternate;
}